Python Operators
----------------

1. Arthmatic Operators
2. Arthmatic Assignment Operators
3. Relational or Comparision Operators
4. Logical Operators
5. In, Not In
6. Is, Is Not
7. Bitwise Operators

# 1. Arthmatic Operators
------------------------

In [2]:
a = 10

b = 2

print('Addition ( + ):', a + b)

print('Subtraction ( - ):', a - b)

print('Multiplication ( * ) :', a * b)

print('Division ( / ) :', a / b) # Return Quotient Value

print('Modulas ( % ) :', a % b) # Return Remainder Value

print('--------------------------------------------------------------')

a = 7

b = 2

print('Division ( / ) :', a / b)

print('Modulas ( % ) :', a % b)

print('--------------------------------------------------------------')

a = 7

b = 2

print('Floor Division ( // ) :', a // b)

print('Exponentiation ( ** ) :', a ** b) # a ** b --> 7 ** 2 --> 7 * 7 --> 49

Addition ( + ): 12
Subtraction ( - ): 8
Multiplication ( * ) : 20
Division ( / ) : 5.0
Modulas ( % ) : 0
--------------------------------------------------------------
Division ( / ) : 3.5
Modulas ( % ) : 1
--------------------------------------------------------------
Floor Division ( // ) : 3
Exponentiation ( ** ) : 49

# 2. Arthmatic Assignment Operators
-----------------------------------

In [10]:
# Assignment Operators

a = 10

print(a)

# Arithmatic Assignment Operators : (+=, -=, *=, /=, //=, **=, %=)

a = 20
print(a)

a += 1 # a = a + 1

print('a += 1 : ', a)
print('')

a = 20
print(a)

a -= 1 # a = a - 1

print('a -= 1 : ', a)
print('')

a = 20
print(a)

a *= 1 # a = a * 1

print('a *= 1 : ', a)
print('')

a = 20
print(a)

a /= 1 # a = a / 1

print('a /= 1 : ', a)
print('')

a = 20
print(a)

a //= 1 # a = a / 1

print('a //= 1 : ', a)
print('')

a = 20
print(a)

a **= 2 # a = a ** 2 ---> a = 20 * 20

print('a **= 1 : ', a)

10
20
a += 1 :  21

20
a -= 1 :  19

20
a *= 1 :  20

20
a /= 1 :  20.0

20
a //= 1 :  20

20
a **= 1 :  400

# 3. Relational or Comparision Operators
----------------------------------------

In [21]:
a = 10
b = 2

print('10 == 2 : ', a == b)

print('10 != 2 : ', a != b)

print('10 > 10 : ', a > b)

print('10 < 10 : ', a < b)

print('10 >= 10 : ', a >= b)

print('10 <= 10 : ', a <= b)

10 == 2 :  False
10 != 2 :  True
10 > 10 :  True
10 < 10 :  False
10 >= 10 :  True
10 <= 10 :  False

# 4. Logical Operators
----------------------

In [30]:

print(10 == 2)

print(10 != 2)

print('')
print('Logical And Operators : ')

print((10 == 2) and (10 != 2)) # Any one condition have a false then everything is false

print('')
print('Logical Or Operators : ')

print((10 == 2) or (10 != 2)) # Any one condition have a true then everything is true

print('')
print('Logical Not Operators : ')

print(not(10 == 2)) 

print(not((10 == 2) or (10 != 2)))

False
True

Logical And Operators :
False

Logical Or Operators :
True

Logical Not Operators :
True
False

If Condition
------------

In [33]:
age = 19

print(age >= 18)

print('----------------------------------------------------')

if age >= 18:
    print(age, 'So you are eligible for vote')

True
----------------------------------------------------
19 So you are eligible for vote

If Else Condition
-----------------

In [1]:
age = 12

print(age >= 18)

print('----------------------------------------------------')

if age >= 18:
    print(age, 'So you are eligible for vote')

else:
    print(age, 'So you are not eligible for vote')

False
----------------------------------------------------
12 So you are not eligible for vote

If Elif Else:
-------------

In [5]:
age = 16

print(age >= 18) # 17 >= 18
print(age >= 17)
print('----------------------------------------------------')

if age >= 18:
    print(age, 'So you are eligible for vote')
elif age >= 17:
    print('Your age is ', age, 'So Wait one year for vote eligible')
else:
    print(age, 'So you are not eligible for vote')

False
False
----------------------------------------------------
16 So you are not eligible for vote

Nested If:
----------

In [26]:
mark1 = 25
mark2 = 28
mark3 = 19

print(mark1 >= 35 and mark2 >= 35 and mark3 >= 35)

print('---------------------------------------------------------')

if (mark1 >= 35 and mark2 >= 35 and mark3 >= 35):
    print('Pass')
    total = mark1 + mark2 + mark3
    avg = total / 3

    print("Total's : ", total,' - ', avg)

    if (avg >= 90 and avg <= 100):
        print('A+ Grade')

    elif (avg >= 80 and avg <= 90):
        print('B+ Grade')

    elif (avg >= 70 and avg <= 80):
        print('C+ Grade')

    else:
        print('D Grade')
else:
    print('Fail')

    if mark1 <= 35:
        print('Mark 01: ', mark1, 'So You are fail')

    if mark2 <= 35:
        print('Mark 02: ', mark2, 'So Yoe are fail')

    if mark3 <= 35:
        print('Mark 03: ', mark3, 'So Yoe are fail')

False
---------------------------------------------------------
Fail
Mark 01:  25 So You are fail
Mark 02:  28 So Yoe are fail
Mark 03:  19 So Yoe are fail

# 5. In, Not In
---------------

In [28]:
details = 'Sara'

print(details, type(details))

print('---------------------------------------------------')

details = ['Sara', 25, 9500912258]

print(details, type(details))

Sara <class 'str'>
---------------------------------------------------
['Sara', 25, 9500912258] <class 'list'>

In [30]:
# In, Not In - Membershop Operator

details = ['Sara', 25, 9500912258]

print(details, type(details))

print('---------------------------------------------------')

print('Sara' in details)

print('Sara' not in details)

['Sara', 25, 9500912258] <class 'list'>
---------------------------------------------------
True
False

# 6. Is, Is Not
---------------

In [35]:
# Identity Operators

details = 'Sara'

name = 'Sara'

print(id(details))

print(id(name))

print('---------------------------------------')

print(details is name)

print(details is not name)

2319651102544
2319651102544
---------------------------------------
True
False

# 7. Bitwise Operators
----------------------

1. Bitwise And Operators - (&)
2. Bitwise Or Operators - (|)
3. Bitwise Xor Operators - (^)
4. Bitwise Not Operators - (~)
5. Left Shift Operators - (<<)
6. Rigth Shift Operators - (>>)

In [36]:
# 1. Bitwise And Operators - (&)

'''
a = 10 = 1010

b = 2  = 0010  (&) - 1 = True, 0 = False
-------------
         0010
-------------
'''

a = 10

b = 2

print('Bitwise And Operators - (&) : ', a & b)  # 10 & 2 = 2

Bitwise And Operators - (&) :  2

In [37]:
# 2. Bitwise Or Operators - (|)

'''
a = 10 = 1010
 
b = 2  = 0010  (|) - 1 = True, 0= False
-------------
         1010
-------------
'''

a = 10

b = 2

print('Bitwise Or Operators - (|) : ', a | b)

Bitwise Or Operators - (|) :  10

In [38]:
# 3. Bitwise XOr Operators - (^)

'''
a = 10 = 1010

b = 2  = 0010  (^) - 1 = True, 0 = False
-------------
         1000
-------------
'''

a = 10

b = 2

print('Bitwise XOr Operators - (^) : ', a ^ b)

Bitwise XOr Operators - (^) :  8

In [39]:
# 4. Bitwise Not Operators - (~)

'''
a = 10 

~a = -(a + 1)
   = -(10 + 1) 
   = -(11)
'''

a = 10

print('Bitwise Not Operators - (~) : ', ~a)

Bitwise Not Operators - (~) :  -11

In [40]:
# 4. Bitwise Not Operators - (~)

'''
a = -9

~a = -(a + 1)
   = -(-9 + 1) 
   = -(-8)
'''

a = -9

print('Bitwise Not Operators - (~) : ', ~a)

Bitwise Not Operators - (~) :  8