For Loop
--------

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [13]:
for i in range(1,10,2):
    print(i, end=', ')

1, 3, 5, 7, 9,

In [16]:
n = 15

for i in range(0,n,2):
    print(i, end=', ')

0, 2, 4, 6, 8, 10, 12, 14,

In [ ]:
'''
ToDay Task
----------
Question 01:
------------

To Write the Python code for below output

Output 01:
----------

Enter your Limit Number : 10
Enter Given value is Odd / Even : Odd

1, 3, 5, 7, 9

Output 02:
----------

Enter your Limit Number : 10
Enter Given value is Odd / Even : Even

0, 2, 4, 6, 8, 

Question 02:
------------
To generate Fibonassi, Prime numbers for given limt value
'''

In [19]:
value = input('Enter Given value is Odd / Even : ')

print(value, type(value))

if (value == 'Odd'):
    print('Yes Odd')

else:
    print('No Even')

Enter Given value is Odd / Even :  Even

Even <class 'str'>
No Even

For Loop Example
----------------

In [23]:

for i in range(2):
    name = input('Enter your name : ')

    age = int(input('Enter your age : '))
    
    print(name, ' your age is ', age)

    print('')

Enter your name :  admin
Enter your age :  25

admin  your age is  25

Enter your name :  Dev
Enter your age :  22

Dev  your age is  22

Nested Loop:
------------

In [28]:
for i in range(1, 6):
    for j in range(i):
        print(i, end=' ')

    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [32]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=' ')

    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [38]:
for i in range(5, 0, -1):
    for j in range(i):
        print(i, end= '')

    print('')

55555
4444
333
22
1

In [40]:
for i in range(1, 6):
    for j in range(i):
        print('*', end=' ')

    print('')

*
* *
* * *
* * * *
* * * * *

Asci Values:
------------

In [42]:
'''
65 - 90 = A - Z
97 - 122 = a - z
'''

print(chr(65))

A

In [45]:
for i in range(65, 91):
    print(chr(i), end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z