Python Basics
-------------

In [3]:
print('Hello World')

print('-----------------------------------------------')

print(20)

Hello World
-----------------------------------------------
20

Datatypes & Variables
---------------------

In [4]:
# Variables

msg = 'Hello World'

age = 20

print(msg)

print(age)

Hello World
20

# Data Types
------------

1. Integer(int) - 0 to 9
2. Float (Decimal Values) - 10.5, 20.5
3. String - a to z, A to Z, All special characters(!, @, #, $, %, ^, &, *,...) - using with in single quote '' 
4. Boolean Datatype - True, False

In [6]:
name = 'Sara'

age = 25

average = 88.5

married = False

print(name, type(name))

print(age, type(age))

print(average, type(average))

print(married, type(married))

Sara <class 'str'>
25 <class 'int'>
88.5 <class 'float'>
False <class 'bool'>

Python Inputs:
--------------

In [9]:
name = input('Enter your name : ')

age = int(input('Enter your age'))

average = float(input('Enter your average value'))

print(name, type(name))

print(age, type(age))

print(average, type(average))

Enter your name :  Selva
Enter your sge 25
Enter your average value 85.5

Selva <class 'str'>
25 <class 'int'>
85.5 <class 'float'>